.customButton {
  background-color: #22A854;
  color: white;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}