.cardModal {
  width: 60rem;
  background-color: #22A854;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modalTitle {
  color: white;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputTitle {
  color: white;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
}

.textInput {
  width: 100%;
  height: 4rem;
  background: #B8E6B8;
  border: none;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: Poppins;
  color: #1A5A2A;
}

.saveButton {
  align-self: flex-end;
  width: 14rem;
  height: 5rem;
  background-color: #B8E6B8;
  color: #1A5A2A;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
  border: none;
}

.exitButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
} 