.quizContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E6F7E6;
  font-family: Poppins;
}

.quizMain {
  flex: 1;
  padding: 3rem 4rem;
}

.quizHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.quizHeaderButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quizTitle {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1A5A2A;
}

.quizList {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}