.signupContainer {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  font-family: Poppins;
}

.signupMain {
    flex: 1;
    padding: 3rem 4rem;
}

.signupHeader {
    display: flex;
    justify-content: center; /* Center the title horizontally */
    align-items: center;
    margin-bottom: 2.5rem;
}

.signupTitle {
    height: 72px;
    flex-shrink: 0;
    text-align: center;
    color: var(--Blue-blue-900, #1A5A2A);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.signupForm {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 2rem;               
  width: 355px;
  height: 391px;
  flex-shrink: 0;
  border-radius: 16px;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.signupForm button {
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.input-name {
    color: var(--Blue-blue-900, #1A5A2A);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input {
    display: flex;
    width: 355px;
    height: 45.54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #B8E6B8;
    padding-bottom: 5;
    border: none;
}

.create-account { 
    display: flex;
    width: 355px;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #22A854;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.link {
    color: var(--Blue-blue-500, #22A854);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}