.quizEditContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EFECFD;
    font-family: Poppins;
}

.questionandoptions {
    margin-bottom: 2.5rem;
    align-items: flex-start;
}

.question {
    font-size: 1.75rem;
    font-weight: 700;
    color: #2A1B64;
    margin-bottom: 1rem;
}

.options {
    display: flex;
  flex-direction: row;
  gap: 2rem;
}