.quizEditContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EFECFD;
    font-family: Poppins;
}

.questionandoptions {
    margin-bottom: 2.5rem;
}

.options {
    display: flex;
  flex-direction: row;
  gap: 2rem;
}