.signupContainer {
   width: 1440px;
    height: 1024px;
    background: var(--Blue-blue-50, #EFECFD);
}

.signupTitle {
    width: 640px;
    height: 72px;
    flex-shrink: 0;
    color: var(--Blue-blue-900, #2A1B64);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-name {
    color: var(--Blue-blue-900, #2A1B64);
    text-align: center;

    /* H2: SemiBold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}