.card {
  background-color: #CFC4FA;
  width: 22rem;
  height: 12.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.word{
  color: #2A1B64;
}

.cardContent {
  font-family: Poppins;
  text-align: center;
  font-size: 1.5rem;
}

.cardButtons {
  position: absolute;
  top: 1.25rem; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem; 
}

.editButton, .deleteButton {
  background-color: #6340EE;
  font-family: Poppins;
  color: white;
  border: none;
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.875rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: ;
}

.card--correct {
  background-color: #d4edda;
  border: 2px solid #28a745;
}